#first{
   display:none;
   position: absolute;
   width: 100%;
   height: 1000px;
   background-color:gray;
   
}
#second{
   display:none;
   position: absolute;
   width: 100%;
   height: 1000px;
   background-color:gray;
}